* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  color: #333;
  margin: 0;
  padding: 0;
}

.navbar {
  border-bottom: 2px solid #333;
  padding: 15px;
  text-align: center;
  margin-bottom: 0;
}

.brand {
  font-size: 30px;
}

.scoreboard {
  max-width: 295px;
  width: 100%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 5px;
}

.scoreboard-letter {
  height: 45px;
  width: 45px;
  font-size: 30px;
  text-transform: uppercase;
  border: 3px solid #ccc;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.correct {
  background-color: darkgreen;
  color: white;
}

.close {
  background-color: goldenrod;
  color: white;
}

.wrong {
  background-color: #888;
  color: white;
}

.spiral {
  font-size: 40px;
  animation: spin 1.5s linear infinite;
}

.hidden {
  visibility: hidden;
}

.info-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.winner {
  animation: rainbow 4s infinite linear;
}
